* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}

.title {
    width: 100%;
    margin: 35px 0;
    text-align: center;
    font-size: 40px;
    color: #74C900;
}

/* HEADER */
header {
    position: relative;
    width: 100%;
    height: 450px;
}

header .contentHeader {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    z-index: 2;
}

header nav {
    margin: 0 auto;
    padding-top: 20px;
}

header nav a {
    margin: 0 40px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 19px;
    transition: color linear 800ms;
}

header nav a:hover {
    color: #74C900;
}

header h2 {
    position: relative;
    top: 165px;
    left: 480px;
    font-size: 40px;
    font-weight: 600;
}

header .fondoHeader {
    background: url('./imgs/pexels-rauf-allahverdiyev-1367243.jpg');
    background-position: center;
    background-size: 120%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(7px);
    z-index: 1;
}
/*-/-*/

/* NOSOTROS */
.nosotros {
    background: #000000;
    color: #ffffff;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: 2;
}

.nosotros .title {
    grid-column: 1/-1;
}

.nosotros .textNosotros {
    padding: 140px 40px;
}

.nosotros .textNosotros h2{
    margin-bottom: 15px;
    font-size: 30px;
}

.nosotros .textNosotros p {
    margin-bottom: 20px;
}

.nosotros .perfilesNosotros {
    padding: 70px 40px;
    display: flex;
    flex-direction: column;
}

.nosotros .perfilesNosotros .perfil{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nosotros .perfilesNosotros .fotoPerfil {
    background: #74C900;
    width: 160px;
    height: 90px;
    margin-right: 30px;
    border-radius: 50%;
}

.nosotros .perfilesNosotros .textPerfil .name {
    color: #9B9C9B;
    font-family: 'Nunito', italic;
    font-size: 18px;
    font-weight: 200;
}
/*-/-*/

/* NUESTROS PRODUCTOS */
.nuestrosProductos {
    background: #000000;
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.nuestrosProductos .title {
    grid-column: 1/-1;
}

.nuestrosProductos .cardProducto {
    width: 600px;
    height: 200px;
    margin: 20px 35px;
    border: 1px solid #ffffff;
    display: flex;
}

.nuestrosProductos .cardProducto figure {
    width: 250px;
    height: 100%;
}

.nuestrosProductos .cardProducto figure img {
    width: 100%;
    height: 100%;
}

.nuestrosProductos .cardProducto .textCard {
    width: 400px;
    height: 150px;
    margin: 25px;
    border: 1px solid #ffffff;
    padding: 5px;
}

.nuestrosProductos .cardProducto .textCard span{
    color: #74C900;
}

.nuestrosProductos .cardProducto .textCard .PrecioAnterior {
    font-size: 15px;
    color: #E6391A;
    text-decoration: line-through;
}
/*-/-*/

/* MAS INFORMACION */
.masInformacion {
    padding: 85px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.masInformacion .textInformacion {
    padding: 0 80px;
}

.masInformacion .textInformacion h2 {
    margin-bottom: 25px;
    font-size: 35px;
}

.masInformacion .textInformacion p {
    font-size: 18px;
}

.masInformacion .icon {
    margin-right: 100px;
    font-size: 250px;
}
/*-/-*/

/* FOOTER */
footer {
    background: #000000;
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

footer .linksFooter {
    padding-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
}

footer .linksFooter li {
    margin: 12px 0;
}

footer .linksFooter li a {
    text-decoration: none;
    color: #ffffff;
}

footer .linksFooter li a:hover {
    color: #74C900;
}

footer .create {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    grid-column: 1/2;
}

footer .links-social {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    grid-column: 2/4;
}

footer .links-social li a {
    margin: 0 17px;
    font-size: 35px;
    text-decoration: none;
    color: #ffffff;
}

footer .links-social li a:hover {
    color: #74C900;
}
/*-/-*/